<% if @issue.safe_attribute?('due_date') %>

    <p id="time_end_label"><label><%= l(:field_time_end) %></label> 
        <input type="text" id="time_end" name="issue[time_end]" class="form-control clockpicker" value="<%= (!params[:issue].blank? && !params[:issue][:time_end].blank? ? params[:issue][:time_end].to_s : '') %>" placeholder="<%=l(:placeholder_allday)%>">
    </p>

    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
<% end %>